# Wind Statistics

### Introduction:

The data have been modified to contain some missing values, identified by NaN.  
Using pandas should make this exercise
easier, in particular for the bonus question.

You should be able to perform all of these operations without using
a for loop or other looping construct.


1. The data in 'wind.data' has the following format:

In [1]:
"""
Yr Mo Dy   RPT   VAL   ROS   KIL   SHA   BIR   DUB   CLA   MUL   CLO   BEL   MAL
61  1  1 15.04 14.96 13.17  9.29   NaN  9.87 13.67 10.25 10.83 12.58 18.50 15.04
61  1  2 14.71   NaN 10.83  6.50 12.62  7.67 11.50 10.04  9.79  9.67 17.54 13.83
61  1  3 18.50 16.88 12.33 10.13 11.17  6.17 11.25   NaN  8.50  7.67 12.75 12.71
"""

'\nYr Mo Dy   RPT   VAL   ROS   KIL   SHA   BIR   DUB   CLA   MUL   CLO   BEL   MAL\n61  1  1 15.04 14.96 13.17  9.29   NaN  9.87 13.67 10.25 10.83 12.58 18.50 15.04\n61  1  2 14.71   NaN 10.83  6.50 12.62  7.67 11.50 10.04  9.79  9.67 17.54 13.83\n61  1  3 18.50 16.88 12.33 10.13 11.17  6.17 11.25   NaN  8.50  7.67 12.75 12.71\n'

   The first three columns are year, month and day.  The
   remaining 12 columns are average windspeeds in knots at 12
   locations in Ireland on that day.   

   More information about the dataset go [here](wind.desc).

### Step 1. Import the necessary libraries

In [2]:
import numpy as np
import pandas as pd
import datetime
import warnings
warnings.filterwarnings("ignore")

pd.set_option("display.float_format", "{:.2f}".format)
pd.set_option("display.max_columns", None)

### Step 2. Import the dataset from this [address](https://github.com/guipsamora/pandas_exercises/blob/master/06_Stats/Wind_Stats/wind.data)

In [3]:
path = "../../data/wind/"
fname = "wind.data"
fdesc = "wind.desc"

with open(path+fdesc) as f:
    a = f.read()
    print(a)

df = pd.read_fwf(path+fname)
df

wind   daily average wind speeds for 1961-1978 at 12 synoptic meteorological
       stations in the Republic of Ireland (Haslett and raftery 1989).

These data were analyzed in detail in the following article:
   Haslett, J. and Raftery, A. E. (1989). Space-time Modelling with
   Long-memory Dependence: Assessing Ireland's Wind Power Resource
   (with Discussion). Applied Statistics 38, 1-50.

Each line corresponds to one day of data in the following format:
year, month, day, average wind speed at each of the stations in the order given
in Fig.4 of Haslett and Raftery :
 RPT, VAL, ROS, KIL, SHA, BIR, DUB, CLA, MUL, CLO, BEL, MAL

Fortan format : ( i2, 2i3, 12f6.2)

The data are in knots, not in m/s.

Permission granted for unlimited distribution.

Please report all anomalies to fraley@stat.washington.edu

Be aware that the dataset is 532494 bytes long (thats over half a
Megabyte).  Please be sure you want the data before you request it.

,Yr,Mo,Dy,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL
0,61,1,1,15.04,14.96,13.17,9.29,NaN,9.87,13.67,10.25,10.83,12.58,18.50,15.04
1,61,1,2,14.71,NaN,10.83,6.50,12.62,7.67,11.50,10.04,9.79,9.67,17.54,13.83
2,61,1,3,18.50,16.88,12.33,10.13,11.17,6.17,11.25,NaN,8.50,7.67,12.75,12.71
3,61,1,4,10.58,6.63,11.75,4.58,4.54,2.88,8.63,1.79,5.83,5.88,5.46,10.88
4,61,1,5,13.33,13.25,11.42,6.17,10.71,8.21,11.92,6.54,10.92,10.34,12.92,11.83
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6569,78,12,27,17.58,16.96,17.62,8.08,13.21,11.67,14.46,15.59,14.04,14.00,17.21,40.08
6570,78,12,28,13.21,5.46,13.46,5.00,8.12,9.42,14.33,16.25,15.25,18.05,21.79,41.46
6571,78,12,29,14.00,10.29,14.42,8.71,9.71,10.54,19.17,12.46,14.50,16.42,18.88,29.58
6572,78,12,30,18.50,14.04,21.29,9.13,12.75,9.71,18.08,12.87,12.46,12.12,14.67,28.79
6573,78,12,31,20.33,17.41,27.29,9.59,12.08,10.13,19.25,11.63,11.58,11.38,12.08,22.08

### Step 3. Assign it to a variable called data and replace the first 3 columns by a proper datetime index.

In [4]:

# df.assign(new_col = df['Yr'] + df['Yr'])
# pd.to_datetime(dict(year=df.Yr, month=df.Mo, day=df.Dy))
# pd.to_datetime((df.Yr*10000+df.Mo*100+df.Dy).apply(str),format='%Y%m%d')
display(df.head())

def to_year(a: pd.Series):
    return '19' + a.apply(str)

dt_col = pd.to_datetime(dict(year=to_year(df.loc[:, 'Yr'])
                           , month=df.loc[:, "Mo"]
                           , day=df.loc[:, "Dy"]))
df.assign(date = dt_col)
# or
df.insert(loc=0 #len(df.columns)
          , column='date'
          , value=dt_col
          , allow_duplicates=True)
df

,Yr,Mo,Dy,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL
0,61,1,1,15.04,14.96,13.17,9.29,NaN,9.87,13.67,10.25,10.83,12.58,18.50,15.04
1,61,1,2,14.71,NaN,10.83,6.50,12.62,7.67,11.50,10.04,9.79,9.67,17.54,13.83
2,61,1,3,18.50,16.88,12.33,10.13,11.17,6.17,11.25,NaN,8.50,7.67,12.75,12.71
3,61,1,4,10.58,6.63,11.75,4.58,4.54,2.88,8.63,1.79,5.83,5.88,5.46,10.88
4,61,1,5,13.33,13.25,11.42,6.17,10.71,8.21,11.92,6.54,10.92,10.34,12.92,11.83

,date,Yr,Mo,Dy,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL
0,1961-01-01,61,1,1,15.04,14.96,13.17,9.29,NaN,9.87,13.67,10.25,10.83,12.58,18.50,15.04
1,1961-01-02,61,1,2,14.71,NaN,10.83,6.50,12.62,7.67,11.50,10.04,9.79,9.67,17.54,13.83
2,1961-01-03,61,1,3,18.50,16.88,12.33,10.13,11.17,6.17,11.25,NaN,8.50,7.67,12.75,12.71
3,1961-01-04,61,1,4,10.58,6.63,11.75,4.58,4.54,2.88,8.63,1.79,5.83,5.88,5.46,10.88
4,1961-01-05,61,1,5,13.33,13.25,11.42,6.17,10.71,8.21,11.92,6.54,10.92,10.34,12.92,11.83
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6569,1978-12-27,78,12,27,17.58,16.96,17.62,8.08,13.21,11.67,14.46,15.59,14.04,14.00,17.21,40.08
6570,1978-12-28,78,12,28,13.21,5.46,13.46,5.00,8.12,9.42,14.33,16.25,15.25,18.05,21.79,41.46
6571,1978-12-29,78,12,29,14.00,10.29,14.42,8.71,9.71,10.54,19.17,12.46,14.50,16.42,18.88,29.58
6572,1978-12-30,78,12,30,18.50,14.04,21.29,9.13,12.75,9.71,18.08,12.87,12.46,12.12,14.67,28.79
6573,1978-12-31,78,12,31,20.33,17.41,27.29,9.59,12.08,10.13,19.25,11.63,11.58,11.38,12.08,22.08

### Step 4. Year 2061? Do we really have data from this year? Create a function to fix it and apply it.

In [5]:
df

,date,Yr,Mo,Dy,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL
0,1961-01-01,61,1,1,15.04,14.96,13.17,9.29,NaN,9.87,13.67,10.25,10.83,12.58,18.50,15.04
1,1961-01-02,61,1,2,14.71,NaN,10.83,6.50,12.62,7.67,11.50,10.04,9.79,9.67,17.54,13.83
2,1961-01-03,61,1,3,18.50,16.88,12.33,10.13,11.17,6.17,11.25,NaN,8.50,7.67,12.75,12.71
3,1961-01-04,61,1,4,10.58,6.63,11.75,4.58,4.54,2.88,8.63,1.79,5.83,5.88,5.46,10.88
4,1961-01-05,61,1,5,13.33,13.25,11.42,6.17,10.71,8.21,11.92,6.54,10.92,10.34,12.92,11.83
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6569,1978-12-27,78,12,27,17.58,16.96,17.62,8.08,13.21,11.67,14.46,15.59,14.04,14.00,17.21,40.08
6570,1978-12-28,78,12,28,13.21,5.46,13.46,5.00,8.12,9.42,14.33,16.25,15.25,18.05,21.79,41.46
6571,1978-12-29,78,12,29,14.00,10.29,14.42,8.71,9.71,10.54,19.17,12.46,14.50,16.42,18.88,29.58
6572,1978-12-30,78,12,30,18.50,14.04,21.29,9.13,12.75,9.71,18.08,12.87,12.46,12.12,14.67,28.79
6573,1978-12-31,78,12,31,20.33,17.41,27.29,9.59,12.08,10.13,19.25,11.63,11.58,11.38,12.08,22.08

### Step 5. Set the right dates as the index. Pay attention at the data type, it should be datetime64[ns].

In [6]:
df = df.set_index("date").drop(['Yr', 'Mo', 'Dy'], axis=1)
df

,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL
date,,,,,,,,,,,,
1961-01-01,15.04,14.96,13.17,9.29,NaN,9.87,13.67,10.25,10.83,12.58,18.50,15.04
1961-01-02,14.71,NaN,10.83,6.50,12.62,7.67,11.50,10.04,9.79,9.67,17.54,13.83
1961-01-03,18.50,16.88,12.33,10.13,11.17,6.17,11.25,NaN,8.50,7.67,12.75,12.71
1961-01-04,10.58,6.63,11.75,4.58,4.54,2.88,8.63,1.79,5.83,5.88,5.46,10.88
1961-01-05,13.33,13.25,11.42,6.17,10.71,8.21,11.92,6.54,10.92,10.34,12.92,11.83
...,...,...,...,...,...,...,...,...,...,...,...,...
1978-12-27,17.58,16.96,17.62,8.08,13.21,11.67,14.46,15.59,14.04,14.00,17.21,40.08
1978-12-28,13.21,5.46,13.46,5.00,8.12,9.42,14.33,16.25,15.25,18.05,21.79,41.46
1978-12-29,14.00,10.29,14.42,8.71,9.71,10.54,19.17,12.46,14.50,16.42,18.88,29.58
1978-12-30,18.50,14.04,21.29,9.13,12.75,9.71,18.08,12.87,12.46,12.12,14.67,28.79
1978-12-31,20.33,17.41,27.29,9.59,12.08,10.13,19.25,11.63,11.58,11.38,12.08,22.08

### Step 6. Compute how many values are missing for each location over the entire record.  
#### They should be ignored in all calculations below.

In [7]:
df.isna().sum()

RPT    6
VAL    3
ROS    2
KIL    5
SHA    2
BIR    0
DUB    3
CLA    2
MUL    3
CLO    1
BEL    0
MAL    4
dtype: int64

### Step 7. Compute how many non-missing values there are in total.

In [8]:
not_na = ~df.isna()
not_na.sum()

RPT    6568
VAL    6571
ROS    6572
KIL    6569
SHA    6572
BIR    6574
DUB    6571
CLA    6572
MUL    6571
CLO    6573
BEL    6574
MAL    6570
dtype: int64

### Step 8. Calculate the mean windspeeds of the windspeeds over all the locations and all the times.
#### A single number for the entire dataset.

In [9]:
float(df.melt()['value'].mean())

10.22788376428218

### Step 9. Create a DataFrame called loc_stats and calculate the min, max and mean windspeeds and standard deviations of the windspeeds at each location over all the days 

#### A different set of numbers for each location.

In [10]:
perc = np.linspace(0.1, 0.9, 9)
loc_stats = df.describe(percentiles=perc)
loc_stats

,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL
count,6568.00,6571.00,6572.00,6569.00,6572.00,6574.00,6571.00,6572.00,6571.00,6573.00,6574.00,6570.00
mean,12.36,10.64,11.66,6.31,10.46,7.09,9.80,8.50,8.49,8.71,13.12,15.60
std,5.62,5.27,5.01,3.61,4.94,3.97,4.98,4.50,4.17,4.50,5.84,6.70
min,0.67,0.21,1.50,0.00,0.13,0.00,0.00,0.00,0.00,0.04,0.13,0.67
10%,5.54,4.08,5.88,2.17,4.42,2.08,3.79,2.83,3.29,3.17,5.96,7.17
20%,7.38,5.91,7.29,3.17,6.08,3.42,5.33,4.42,4.67,4.63,7.83,9.67
30%,8.87,7.33,8.54,4.00,7.46,4.58,6.71,5.71,5.96,5.88,9.46,11.58
40%,10.29,8.79,9.71,4.83,8.75,5.75,7.96,6.92,7.12,7.11,11.04,13.29
50%,11.71,10.17,10.92,5.75,9.96,6.83,9.21,8.08,8.17,8.29,12.50,15.00
60%,13.21,11.54,12.21,6.71,11.17,7.96,10.50,9.33,9.29,9.50,14.12,16.71
70%,14.92,13.13,13.70,7.81,12.67,9.04,12.00,10.63,10.50,10.83,15.96,18.66
80%,16.90,15.09,15.63,9.17,14.37,10.41,13.96,12.21,12.08,12.46,18.00,21.12
90%,19.89,17.79,18.50,11.12,17.04,12.42,16.66,14.42,13.92,14.79,21.12,24.79
max,35.80,33.37,33.84,28.46,37.54,26.16,30.37,31.08,25.88,28.21,42.38,42.54

### Step 10. Create a DataFrame called day_stats and calculate the min, max and mean windspeed and standard deviations of the windspeeds across all the locations at each day.

#### A different set of numbers for each day.

In [11]:
# df.stack().groupby(df.stack().index).mean()
# df.stack().unstack(level=0).T
tmp = df.melt(ignore_index=False)
tmp.select_dtypes(include=np.number).groupby(tmp.index).agg(['min', 'max', 'mean', 'std'])

           value
             min   max  mean  std
date
1961-01-01  9.29 18.50 13.02 2.81
1961-01-02  6.50 17.54 11.34 3.19
1961-01-03  6.17 18.50 11.64 3.68
1961-01-04  1.79 11.75  6.62 3.20
1961-01-05  6.17 13.33 10.63 2.45
...          ...   ...   ...  ...
1978-12-27  8.08 40.08 16.71 7.87
1978-12-28  5.00 41.46 15.15 9.69
1978-12-29  8.71 29.58 14.89 5.76
1978-12-30  9.13 28.79 15.37 5.54
1978-12-31  9.59 27.29 15.40 5.70

[6574 rows x 4 columns]

In [12]:
# create the dataframe
day_stats = pd.DataFrame()

# this time we determine axis equals to one so it gets each row.
day_stats['min'] = df.min(axis = 1) # min
day_stats['max'] = df.max(axis = 1) # max 
day_stats['mean'] = df.mean(axis = 1) # mean
day_stats['std'] = df.std(axis = 1) # standard deviations

print(day_stats.shape)
day_stats.head()

(6574, 4)

            min   max  mean  std
date
1961-01-01 9.29 18.50 13.02 2.81
1961-01-02 6.50 17.54 11.34 3.19
1961-01-03 6.17 18.50 11.64 3.68
1961-01-04 1.79 11.75  6.62 3.20
1961-01-05 6.17 13.33 10.63 2.45

### Step 11. Find the average windspeed in January for each location.  
#### Treat January 1961 and January 1962 both as January.

In [13]:
# df_jans = df.melt(ignore_index=False).loc[['1961-01-01', '1962-01-01'],:]
df_jans = df[df.index.month==1].melt(ignore_index=False)
df_jans.groupby(by=['variable'])['value'].mean().sort_values(ascending=False)

variable
MAL   18.03
RPT   14.85
BEL   14.55
ROS   13.30
VAL   12.91
DUB   11.82
SHA   11.67
CLO   10.05
MUL    9.54
CLA    9.51
BIR    8.05
KIL    7.20
Name: value, dtype: float64

### Step 12. Downsample the record to a yearly frequency for each location.

In [14]:
df.groupby(by=[df.index.to_period('A')])[df.columns].mean()

       RPT   VAL   ROS  KIL   SHA  BIR   DUB   CLA  MUL   CLO   BEL   MAL
date
1961 12.30 10.35 11.36 6.96 10.88 7.73  9.73  8.86 8.65  9.84 13.50 13.68
1962 12.25 10.11 11.73 6.96 10.66 7.39 11.02  8.79 8.32  9.68 12.93 14.32
1963 12.81 10.84 12.54 7.33 11.72 8.43 11.08 10.34 8.90 10.22 13.64 15.00
1964 12.36 10.92 12.10 6.79 11.45 7.57 10.26  9.47 7.79 10.21 13.74 14.91
1965 12.45 11.08 11.85 6.86 11.02 7.48 10.62  8.88 7.91  9.92 12.96 15.59
1966 13.46 11.56 12.02 7.35 11.81 7.79 10.58  8.84 8.51  9.77 14.27 16.31
1967 12.74 10.99 11.74 7.14 11.63 7.37 10.65  9.33 8.65  9.55 14.77 17.14
1968 11.84 10.47 11.41 6.48 10.76 6.07  8.86  8.26 7.22  7.83 12.81 15.02
1969 11.17  9.72 10.90 5.77  9.87 6.19  8.56  7.71 7.92  7.75 12.62 15.76
1970 12.60 10.73 11.73 6.22 10.57 7.61  9.61  8.33 9.30  8.29 13.18 16.46
1971 11.27  9.10 11.09 5.24  9.44 6.10  8.39  6.76 7.92  7.23 12.21 15.03
1972 12.46 10.56 12.06 5.93  9.43 6.36  9.70  7.68 8.36  7.52 12.73 15.03
1973 11.83 10.68 10.68 5.55  9.64 6.55  8.48  7.61 8.25  7.81 12.17 15.44
1974 13.64 11.81 12.34 6.43 11.11 6.81 10.08  9.90 9.33  8.74 13.25 16.95
1975 12.01 10.29 11.56 5.27  9.19 5.67  8.56  7.84 8.80  7.38 12.63 15.31
1976 11.74 10.20 10.76 5.11  8.85 6.31  9.15  7.15 8.88  7.88 12.33 15.47
1977 13.10 11.14 12.63 6.07 10.00 8.59 11.52  8.38 9.10  8.82 13.46 16.59
1978 12.50 11.04 11.38 6.08 10.17 7.65  9.49  8.80 9.09  8.30 12.97 16.77

### Step 13. Downsample the record to a monthly frequency for each location.

In [15]:
df.groupby(by=[df.index.to_period('M')])[df.columns].mean()

          RPT   VAL   ROS  KIL   SHA   BIR   DUB   CLA   MUL   CLO   BEL   MAL
date
1961-01 14.84 11.99 13.43 7.74 11.07  8.59 11.18  9.25  9.09 10.11 13.88 14.70
1961-02 16.27 14.98 14.44 9.23 13.85 10.94 11.89 11.85 11.82 12.71 18.58 15.41
1961-03 10.89 11.30 10.75 7.28 10.51  8.87  9.64  9.83 10.29 11.25 16.41 15.72
1961-04 10.72  9.43 10.00 5.83  8.44  6.50  6.93  7.09  7.34  7.24 11.15 10.28
1961-05  9.86  8.85 10.82 5.91  9.49  6.57  7.60  8.18  8.04  8.50 11.90 12.01
...       ...   ...   ...  ...   ...   ...   ...   ...   ...   ...   ...   ...
1978-08  9.65  8.26  9.03 4.50  7.37  5.94  5.65  5.42  7.24  5.54 10.47 12.05
1978-09 10.91 10.90 10.63 5.72 10.37  9.28 10.79  9.58 10.07  8.94 15.68 19.39
1978-10  9.90  8.67  9.30 4.72  8.53  6.77  8.12  7.34  8.30  8.24 13.78 17.15
1978-11 16.15 14.80 13.51 7.32 11.47  8.74 11.49  9.66 10.70 10.68 17.40 20.72
1978-12 16.18 13.75 15.64 7.09 11.40  9.24 12.08 10.19 10.62 11.03 13.86 21.37

[216 rows x 12 columns]

### Step 14. Downsample the record to a weekly frequency for each location.

In [16]:
df.groupby(by=[df.index.to_period('W')])[df.columns].mean()

,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL
date,,,,,,,,,,,,
1960-12-26/1961-01-01,15.04,14.96,13.17,9.29,NaN,9.87,13.67,10.25,10.83,12.58,18.50,15.04
1961-01-02/1961-01-08,13.54,11.49,10.49,6.42,9.47,6.44,11.06,6.62,8.43,8.50,12.48,13.24
1961-01-09/1961-01-15,12.47,8.97,11.96,4.63,7.35,5.07,7.54,6.82,5.71,7.57,11.13,11.02
1961-01-16/1961-01-22,13.20,9.86,12.98,6.33,8.97,7.42,9.26,7.88,7.15,8.12,9.82,11.43
1961-01-23/1961-01-29,19.88,16.14,18.23,12.72,17.43,14.83,15.53,15.16,14.48,15.64,20.93,22.53
...,...,...,...,...,...,...,...,...,...,...,...,...
1978-11-27/1978-12-03,14.93,11.23,13.94,5.57,10.22,8.62,9.64,7.69,9.01,9.55,11.84,18.73
1978-12-04/1978-12-10,20.74,19.19,17.03,9.78,15.29,12.77,14.44,12.49,13.87,14.08,18.52,23.06
1978-12-11/1978-12-17,16.76,14.69,14.99,6.92,11.40,7.27,10.21,7.97,9.17,8.57,11.10,15.56
1978-12-18/1978-12-24,11.16,8.01,13.17,4.00,7.83,6.29,7.80,8.67,7.15,8.07,11.85,18.98
1978-12-25/1978-12-31,14.95,11.80,16.04,6.51,9.66,8.62,13.71,10.48,10.87,11.47,12.95,26.84

### Step 15. Calculate the min, max and mean windspeeds and standard deviations of the windspeeds across all locations for each week (assume that the first week starts on January 2 1961) for the first 52 weeks.

In [17]:
aggs = ['min', 'max', 'mean', 'std']
df.groupby(by=[df.index.to_period('W')])[df.columns].agg(aggs)

                        RPT                    VAL                    ROS  \
                        min   max  mean  std   min   max  mean  std   min
date
1960-12-26/1961-01-01 15.04 15.04 15.04  NaN 14.96 14.96 14.96  NaN 13.17
1961-01-02/1961-01-08 10.58 18.50 13.54 2.63  6.63 16.88 11.49 3.95  7.62
1961-01-09/1961-01-15  9.04 19.75 12.47 3.56  3.54 12.08  8.97 3.15  7.08
1961-01-16/1961-01-22  4.92 19.83 13.20 5.34  3.42 14.37  9.86 3.84  7.29
1961-01-23/1961-01-29 13.62 25.04 19.88 4.62  9.96 23.91 16.14 5.17 12.67
...                     ...   ...   ...  ...   ...   ...   ...  ...   ...
1978-11-27/1978-12-03  9.08 21.29 14.93 4.93  4.54 21.34 11.23 5.98  8.21
1978-12-04/1978-12-10  9.92 29.33 20.74 7.22 12.54 24.79 19.19 4.95  7.21
1978-12-11/1978-12-17  9.87 23.13 16.76 4.50  3.21 24.04 14.69 7.58  8.04
1978-12-18/1978-12-24  6.21 16.62 11.16 3.52  3.63 13.29  8.01 3.88  8.50
1978-12-25/1978-12-31  7.21 20.33 14.95 4.35  5.46 17.41 11.80 4.71  7.83

                                        KIL                    SHA        \
                        max  mean  std  min   max  mean  std   min   max
date
1960-12-26/1961-01-01 13.17 13.17  NaN 9.29  9.29  9.29  NaN   NaN   NaN
1961-01-02/1961-01-08 12.33 10.49 1.60 4.58 10.13  6.42 1.81  4.54 12.62
1961-01-09/1961-01-15 19.50 11.96 5.03 0.67 10.54  4.63 3.55  2.29 10.37
1961-01-16/1961-01-22 20.79 12.98 5.09 1.04 18.54  6.33 6.25  3.67 13.96
1961-01-23/1961-01-29 25.84 18.23 4.67 6.04 17.54 12.72 4.30 10.00 24.08
...                     ...   ...  ...  ...   ...   ...  ...   ...   ...
1978-11-27/1978-12-03 24.04 13.94 5.70 0.96 12.79  5.57 4.73  4.54 18.21
1978-12-04/1978-12-10 25.37 17.03 6.64 1.71 18.16  9.78 6.52  6.50 24.46
1978-12-11/1978-12-17 18.05 14.99 3.64 2.21 11.63  6.92 2.95  3.04 18.12
1978-12-18/1978-12-24 22.21 13.17 4.38 1.00  9.50  4.00 2.78  3.50 14.29
1978-12-25/1978-12-31 27.29 16.04 6.66 2.37  9.59  6.51 3.10  4.79 13.21

                                  BIR                    DUB                   \
                       mean  std  min   max  mean  std   min   max  mean  std
date
1960-12-26/1961-01-01   NaN  NaN 9.87  9.87  9.87  NaN 13.67 13.67 13.67  NaN
1961-01-02/1961-01-08  9.47 3.25 2.88  8.33  6.44 2.06  8.63 14.29 11.06 1.87
1961-01-09/1961-01-15  7.35 3.47 0.96  9.46  5.07 3.25  2.50 15.54  7.54 4.71
1961-01-16/1961-01-22  8.97 3.61 3.17 13.37  7.42 3.45  3.17 17.83  9.26 5.17
1961-01-23/1961-01-29 17.43 4.86 9.42 19.70 14.83 3.75  9.25 22.00 15.53 4.51
...                     ...  ...  ...   ...   ...  ...   ...   ...   ...  ...
1978-11-27/1978-12-03 10.22 5.26 1.00 19.29  8.62 6.37  1.96 21.54  9.64 7.69
1978-12-04/1978-12-10 15.29 6.66 5.96 19.58 12.77 5.45  8.38 24.54 14.44 5.79
1978-12-11/1978-12-17 11.40 6.07 0.54 13.37  7.27 5.08  2.46 14.83 10.21 4.05
1978-12-18/1978-12-24  7.83 3.42 0.42 13.08  6.29 3.70  2.42 16.50  7.80 5.60
1978-12-25/1978-12-31  9.66 3.20 4.29 11.67  8.62 2.95  1.96 19.25 13.71 6.37

                        CLA                    MUL                    CLO  \
                        min   max  mean  std   min   max  mean  std   min
date
1960-12-26/1961-01-01 10.25 10.25 10.25  NaN 10.83 10.83 10.83  NaN 12.58
1961-01-02/1961-01-08  1.79 10.04  6.62 3.10  5.83 10.92  8.43 1.72  5.88
1961-01-09/1961-01-15  0.58 11.50  6.82 3.94  0.50 10.37  5.71 3.50  2.67
1961-01-16/1961-01-22  2.79 11.38  7.88 3.16  1.92 14.67  7.15 4.17  2.71
1961-01-23/1961-01-29  8.71 20.25 15.16 4.44  7.12 21.46 14.48 4.90 11.04
...                     ...   ...   ...  ...   ...   ...   ...  ...   ...
1978-11-27/1978-12-03  2.04 17.21  7.69 6.09  1.29 16.71  9.01 5.80  3.29
1978-12-04/1978-12-10  6.17 19.04 12.49 5.15  6.63 21.00 13.87 5.33  6.75
1978-12-11/1978-12-17  1.46 13.88  7.97 4.72  1.29 15.54  9.17 4.93  2.67
1978-12-18/1978-12-24  2.50 17.16  8.67 4.45  2.13 12.71  7.15 3.75  4.71
1978-12-25/1978-12-31  0.75 16.25 10.48 5.91  3.04 15.25 10.87 4.81  3.08

                                         BEL                    MAL        \
                        max  mean  std   min   max  mean  std   min   max
date
1960-12-26/1961-01-01 12.58 12.58  NaN 18.50 18.50 18.50  NaN 15.04 15.04
1961-01-02/1961-01-08 10.46  8.50 1.70  5.46 17.54 12.48 4.35 10.88 16.46
1961-01-09/1961-01-15 14.58  7.57 4.08  5.25 20.71 11.13 5.55  5.17 16.92
1961-01-16/1961-01-22 16.71  8.12 4.78  6.50 15.92  9.82 3.63  6.79 17.96
1961-01-23/1961-01-29 19.95 15.64 3.71 14.04 27.71 20.93 5.21 17.50 27.63
...                     ...   ...  ...   ...   ...   ...  ...   ...   ...
1978-11-27/1978-12-03 17.83  9.55 6.28  4.92 21.42 11.84 5.95 11.50 25.75
1978-12-04/1978-12-10 21.50 14.08 5.52  9.54 26.08 18.52 5.60 15.34 34.59
1978-12-11/1978-12-17 16.29  8.57 5.49  5.00 21.50 11.10 6.63  6.92 22.83
1978-12-18/1978-12-24 12.00  8.07 3.02  3.21 19.79 11.85 5.75 10.29 31.71
1978-12-25/1978-12-31 18.05 11.47 5.53  1.21 21.79 12.95 7.52 11.96 41.46


                       mean   std
date
1960-12-26/1961-01-01 15.04   NaN
1961-01-02/1961-01-08 13.24  1.77
1961-01-09/1961-01-15 11.02  4.69
1961-01-16/1961-01-22 11.43  4.24
1961-01-23/1961-01-29 22.53  3.87
...                     ...   ...
1978-11-27/1978-12-03 18.73  6.39
1978-12-04/1978-12-10 23.06  8.09
1978-12-11/1978-12-17 15.56  6.01
1978-12-18/1978-12-24 18.98  7.19
1978-12-25/1978-12-31 26.84 11.62

[940 rows x 48 columns]